  .sidebar {
      background-color: #04060D;
      opacity: .75;
      width: 250px;
      height: 100vh;
      position: fixed;
      left: -250px; /* Initially hidden */
      top: 0;
      transition: left 0.3s ease-in-out;
      z-index: 1; /* Ensure sidebar is below content area */
    }

    .sidebar ul {
      list-style-type: none;
      padding: 0;
    }

    .sidebar li {
      padding: 10px;
      display: flex;
      align-items: center;
    }

    .sidebar a {
      text-decoration: none;
      color: #212529;
      transition: color 0.3s;
      margin-left: 10px;
    }

    .sidebar a:hover {
      color: #007bff;
    }
    

    .trigger-button {
      position: fixed;
      right: 10px;
      top: 10px;
      z-index: 2; 
    }
    
    .sidebar-active {
      left: 0;
    }